.button-primary {
  border: none;
  padding: 0.35rem 0.75rem;
  color: #ffffff;
  background-color: #ff8c00;
  border-radius: 5px;
  transition: all 0.3s ease-in-out;
}

.button-primary:hover {
  background-color: #f07502;
}

.profile-picture {
  width: 84px;
  height: 84px;
  border-radius: 50%;
  object-fit: cover;
}

.text-large-pizza-price {
  color: #3d007e; 
}

.text-xlarge-pizza-price {
  color: #00657e; 
}
